<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.palprotech.ensyfi">

    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <permission
        android:name="com.palprotech.ensyfi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.palprotech.ensyfi.permission.C2D_MESSAGE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_ensyfi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_ensyfi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <provider
            android:name=".syncadapter.MyContentProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

        <service android:name=".syncadapter.MyAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".syncadapter.UploadDataSync"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="unspecified"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <activity
            android:name=".activity.loginmodule.SplashScreenActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Login Portion-->
        <activity
            android:name=".activity.loginmodule.SchoolIdLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarEventDetails" />

        <activity
            android:name=".activity.loginmodule.UserLoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.ForgotPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.ResetPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.ChangePasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.SettingsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.AboutEnsyfiActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.loginmodule.ProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.loginmodule.ProfileActivityNew"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.loginmodule.ParentInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.GuardianInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.StudentDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.loginmodule.TeacherInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <!--End-->
        <!---->
        <!--Parent Module-->

        <activity
            android:name=".activity.parentsmodule.ParentDashBoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.parentsmodule.ParentsCommunicationActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <!--End-->
        <!---->
        <!--Student Module-->
        <activity
            android:name=".activity.loginmodule.StudentInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.AttendanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.StudentTimeTableActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.studentmodule.StudentTimeTableAcitivityNewnew"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.studentmodule.ClassTestHomeworkActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.ClassTestDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.ExamsResultActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.ExamDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.ExamMarksActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.ExamOnlyTotalMarksActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.studentmodule.FeeStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AttendanceStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AttendanceMonthViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherAttendanceView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherAttendanceOverview"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherAttendanceDetailView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherCtHwOverallView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherCtHwDaywiseView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTeacherCtHwDetailView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <!--End-->
        <!---->
        <!--General-->
        <activity
            android:name=".activity.general.EventsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.EventDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.LeaveCalendarActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.EventOrganiserActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.OnDutyActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.GroupingActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.GroupingSendActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.OnDutyRequestActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.general.CircularActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.LeaveStatusActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.LeaveStatusDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.LeaveApplyActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <!--End-->
        <!---->
        <!--Teacher Module-->
        <activity
            android:name=".activity.teachermodule.TeacherDashBoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.TeacherTimeTableActivity"
            android:label="@string/app_name"

            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.TeacherTimeTableNewnew"
            android:label="@string/app_name"

            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.SyncRecordsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTestHomeWorkTeacherViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTestHomeWorkDetailPageActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ClassTestHomeWorkAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.ViewClassTestMarkActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AcademicExamViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AcademicExamDetailPage"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AcademicExamResultView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AcademicExamOnlyTotalResultView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.TimeTableReviewAddActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.TimeTableReview"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.TimeTableReviewDetails"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.teachermodule.AddClassTestMarkActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.AddAcademicExamMarksActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.AddAcademicExamMarksOnlyTotalActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.TeacherAttendanceInsertActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.SpecialClassActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.adminmodule.SpecialClassAdminActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.SubstitutionActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink" />

        <activity
            android:name=".activity.teachermodule.ExamDutyActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarPink">

        </activity>

        <!--End-->
        <!---->
        <!--Admin Module-->
        <activity
            android:name=".activity.adminmodule.AdminDashBoardActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.StudentsViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ClassStudentDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.TeachersViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.TeacherViewDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ParentsViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ParentsViewDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.StudentsInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ClassBasedViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ExamViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ResultViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.StudentResultView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.FeesViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.FeesStatusView"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.OnDutyViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.OnDutyDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationAdminViewActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationUpdateActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationViewMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationAddMemberActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.GroupNotificationActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.CircularMasterCreationActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarForCircular"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.adminmodule.CircularMasterListActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ClassAttendanceActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ClassAttendanceListActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.ClassAttendanceDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.general.GroupingDetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />

        <activity
            android:name=".activity.adminmodule.BoardMembersListActivity"
            android:label="@string/app_name"
            android:screenOrientation="unspecified"
            android:theme="@style/AppThemeNoActionBarGrey" />


        <!--End-->
        <!---->
        <!--                    GCM Receiver                -->
        <!--<receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.gnirt69.gcmexample" />
            </intent-filter>
        </receiver>-->

        <!--            GCM Receiver Service        -->
        <!--<service
            android:name=".servicehelpers.gcm.GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>-->

        <!--            GCM Registration Intent Service        -->
        <!--<service
            android:name=".servicehelpers.gcm.GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>-->

        <service android:name=".servicehelpers.fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>